.git
.gitignore
**/.git
**/.gitignore
**/.git/**
.turbo
**/.turbo
**/.turbo/**
.next
**/.next
**/.next/**
.next*
**/.next*
**/.next*/**
.builds
**/.builds
**/.builds/**
.cache
**/.cache
**/.cache/**
*.tsbuildinfo
**/*.tsbuildinfo
node_modules
**/node_modules
**/node_modules/**
coverage
**/coverage
**/coverage/**
dist
dist.*
**/dist
**/dist.*
**/dist/**
**/dist.*/**
target
**/target
**/target/**
test-results
**/test-results
**/test-results/**
playwright-report
**/playwright-report
**/playwright-report/**
blob-report
**/blob-report
**/blob-report/**
.env
.env.*
**/.env
**/.env.*
ops/caddy/generated
huurmatcher-work2
