@import "tailwindcss";

/* Diatype Variable Font */
@font-face {
	font-display: block;
	font-family: "Diatype Variable";
	src: url("https://type.cargo.site/files/Cargo-DiatypePlusVariable.woff2") format("woff2-variations");
	font-style: normal;
	font-weight: 200 1000;
}

@font-face {
	font-display: block;
	font-family: "Diatype Variable";
	src: url("https://type.cargo.site/files/Cargo-DiatypePlusVariable-Italic.woff2") format("woff2-variations");
	font-style: italic;
	font-weight: 200 1000;
}

@font-face {
	font-display: block;
	font-family: "Diatype Semi-Mono Variable";
	src: url("https://type.cargo.site/files/Cargo-DiatypePlusVariable.woff2") format("woff2-variations");
	font-style: normal;
	font-weight: 200 700;
}

@font-face {
	font-display: block;
	font-family: "Diatype Semi-Mono Variable";
	src: url("https://type.cargo.site/files/Cargo-DiatypePlusVariable-Italic.woff2") format("woff2-variations");
	font-style: italic;
	font-weight: 200 700;
}

@font-face {
	font-display: block;
	font-family: "Diatype Mono Variable";
	src: url("https://type.cargo.site/files/Cargo-DiatypePlusVariable.woff2") format("woff2-variations");
	font-style: normal;
	font-weight: 200 700;
}

@font-face {
	font-display: block;
	font-family: "Diatype Mono Variable";
	src: url("https://type.cargo.site/files/Cargo-DiatypePlusVariable-Italic.woff2") format("woff2-variations");
	font-style: italic;
	font-weight: 200 700;
}

/* Base Typography */
body {
	font-family: "Diatype Variable", "Inter", Arial, sans-serif;
	font-weight: 200;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.02em;
}

.font-diatype-mono {
	font-family: "Diatype Mono Variable", monospace;
}

.font-diatype-semi-mono {
	font-family: "Diatype Semi-Mono Variable", monospace;
}

h1, h2 {
	text-transform: uppercase;
}

/* Global button styles */
button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}